<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="mountNode"></div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/build/bundle.js"></script>
  </body>
</html>
